# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

node_modules
dist
coverage
package-lock.json

docs/.vitepress/dist
docs/.vitepress/cache

sonda-report*
*.backup
.parcel-cache
